/* Gobal rules */
@font-face {
	font-family: 'bukrabold';
	font-style: normal;
	font-weight: 700;
	src: url(../../fonts/29ltbukrabold.ttf);
}

@font-face {
	font-family: 'bukra';
	font-style: normal;
	font-weight: 400;
	src: url(../../fonts/29ltbukraregular.ttf);
}

@font-face {
	font-family: 'bukra-Light';
	font-style: normal;
	font-weight: 400;
	src: url(../../fonts/29ltbukralight.ttf);
}
body{
  font-family: 'bukra', sans-serif;
  direction: rtl;
  background-color: #ECF0F5
}
a {
	text-decoration: none;
}

/* start header */
header {
  background-color: #014F73;
  overflow: hidden;
  width: 100%;
  position: static;
  padding-bottom: 4px
}
header img {
  height: 50px;
  float: right;
  margin-top: 10px;
  margin-right: 25px
}
header .icons {
  margin-right: 200px;
}
header .icons span {
  margin-top: 25px;
  margin-left: 80px;
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
  font-size: 30px;
  position: relative;
  cursor: pointer;
}
header .icons span label {
  position: absolute;
  top: -10px;
  right: -20px;
  color: #FFF;
  font-size: 12px;
  background-color: #1d1c1d;
  border-radius: 50%;
  padding: 5px 7px;
}
header .icons span:hover label {
	color: #BC385A;
	background-color: #2A2B2A;
	font-size: 16px;
	padding: 7px 9px;
	transition: all 0.2s ease-in-out
}
header .search {
  float: left;
  margin-left: 20px
}
header input {
  margin-right: 20px;
  height: 43px;
  width: 300px;
  margin-top: 10px;
  padding: 10px;
  margin-left: 0;
  border: none;
}
header button {
  padding: 13px 15px;
  margin-right: -6px;
  background-color: #FEB08C;
  color: #2A2B2A;
  font-weight: 400;
  border: none;
  font-size: 15px;
  font-weight: 400;
}

/* start content */
.info {
  border: 1px solid #ddd;
  background-color: #FFF;
  margin-right: 5%;
  height: 100px;
  width: 40%;
  text-align: right;
  margin-top: 30px;
  padding: 5px 15px;
  border-radius: 4px
}
.info a {
  border: 1px solid #ddd;
  padding: 5px 15px;
  border-radius: 10px;
	color: #FFF
}
a#plural {
  background-color: #8BC34A;
}
a#single {
  background-color: #23527c;
}
a#plural:hover, a#single:hover {
	background-color: #FFF;
	transition: all .3s ease-in-out
}
a#plural:hover {
	color: #8BC34A;
}
a#single:hover{
	color: #23527c;
}
/* start table */
.container {
  width: 90%;
  margin: 50px auto;
  padding: 20px;
  background-color: #FFF
}
table {
  width: 100%;
  border-collapse: collapse;
  padding: 30px 35px
}
tr:nth-child(even) {background-color: #CCC;}
tr:hover {background-color: #333; color: #fff;transition: all .2s ease-in-out}
th {
  background-color: #f3f3f3;
  padding: 10px
}
td {
  text-align: center;
}
th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
label.price {
  background-color: #8BC34A;
  padding: 3px
}
label.state {
  background-color: #D9534F;
  padding: 3px;
  color: #eee
}
a.edit {
  background-color: #5BC0DE;
  color: #eee;
  padding: 3px;
}
a.show {
  background-color: #F0AD4E;
  color: #eee;
  padding: 3px;

}
